h1{
    font-family: 'Tangerine', cursive;
}
.footer{
    background-color: blueviolet;
    color: whitesmoke;
    padding: 10px;
    /* position: fixed; */
    width: 100%;
    bottom: 0;
}
img{
    width: 20px;
    margin: 10px;
}
.detail{
    text-align:center;
}