.menu{
    /* text-align: center; */
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;

}
.card{
    margin: 10px;
    border: 1px solid grey;
    margin: 30px;
}

img{
    width: 400px;
    height: 300px;
}
h3,h4,p{
    margin-left: 5px;
}

h3{
    background-color: grey;
    border-radius: 20px;
    width: 83px;
    text-align: center;
}
span{
    color: black;
    display: flex;
    justify-content: space-between;
}